{% extends "base.html" %}

{% block content %}

{% if address_details %}

  {% for address_detail in address_details %}
    <h2>Adresse detaljer</h2>

    <p><strong>Adressebetegnelse:</strong> {{ address_detail.adressebetegnelse }} - LOKAL-ID: {{ address_detail.id_lokalId }}</p>

    <br>
    <h3>Adgangsadresse:</h3>

    {% if address_detail.husnummer %}
      <p><strong>Vejnavn/husnummer:</strong> {{ address_detail.husnummer.navngivenVej.vejnavn }} {{ address_detail.husnummer.husnummertekst }}</p>
    {% endif %}

    {% if address_detail.husnummer.postnummer %}
      <p><strong>Postnummer/by:</strong> {{ address_detail.husnummer.postnummer.postnr }} {{ address_detail.husnummer.postnummer.navn }}</p>
    {% endif %}

    {% if address_detail.husnummer.kommuneinddeling %}
      <p><strong>Kommune:</strong> {{ address_detail.husnummer.kommuneinddeling.navn }} Kommune</p>
      <p><strong>Kommunekode:</strong> {{ address_detail.husnummer.kommuneinddeling.kommunekode}} </p>
    {% endif %}
    
    {% if address_detail.husnummer.kommuneinddeling %}
      <p><strong>Vejnavn:</strong> {{ address_detail.husnummer.navngivenVej.vejnavn }}</p>
    {% endif %}

  {% endfor %}
{% else %}
  <p>No address details found.</p>
{% endif %}

{% endblock %}
