{% extends "base.html" %}

{% block content %}

<h1>Addresses</h1>
<p>You searched for: <b>{{ address }}</b> </p>

<h3>Results</h3>

{% if address_details %}
    <ul>
        {% for address in address_details %}
            <li>Address: {{ address.data.vejnavn }} {{ address.data.husnr }}, {{ address.data.postnr }} {{ address.data.postnrnavn }}</li>
            <li><a href="/address_details/{{ address.data.id }}">See details</a></li>
            <hr>
        {% endfor %}
    </ul>
{% else %}
    <p>No address details available.</p>
{% endif %}

<p><a href="/">Back</a></p>

{% endblock %}